*{
    margin: 15px;
}

.div-1{
text-align: center;
color: whitesmoke;
background-color: darkcyan;
border: 3px solid #ddbb92;
border-radius: 10px;
}

.img1{
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


    