*{
    box-sizing: border-box;
    background-color: #f5d3c7;
}

h1{
    background-color: #9a2dad;
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 900;
    padding: 10px;
}

a{
    font-size: large;
}

.recipes-lst{
text-align: center;
}